<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ADD PRODUCTS</h1><br>
    <form method="POST">
        {% csrf_token %}
        <label for="name">Name:</label>
        <input type="text" name="name" required><br><br>
        <label for="des">Description:</label>
        <textarea name="des" required></textarea><br><br>
        <label for="price">Price:</label>
        <input type="text" name="price" required><br><br>
        <label for="quantity">Stock_Quantity:</label>
        <input type="text" name="quantity" required><br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>