<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Update Product</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="name">Name</label>
        <input type="text" name="name" value="{{obj.name}}" required><br><br>
        <label for="price">Price</label>
        <input type="text" name="price" value="{{obj.price}}" required><br><br>
        <label for="quantity">Stock_Quantity</label>
        <input type="text" name="quantity" value="{{obj.stock_quantity}}" required><br><br>
        <label for="categ">Course</label>
        <select name="categ">
            {% for x in dataa %}
            <option value="{{x.id}}">{{x.name}}</option>
            {% endfor %}
        </select><br><br>
        <button type="submit">Update</button>
    </form>
</body>
</html>