<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>EMPLOYEE DETAILS</h1>
    <table border="1">
        <tr>
            <th>employee_id</th>
            <th>name</th>
            <th>age</th>
        </tr>
        {% for x in display %}
        <tr>
            <td>{{x.employee_id}}</td>
            <td>{{x.name}}</td>
            <td>{{x.age}}</td>
            <td><a href="{% url 'hi' x.employee_id %}">Delete</a></td>
            <td><a href="{% url 'update' x.employee_id %}">update</a></td>
        </tr>
        {% endfor %}
    </table>
    
</body>
</html>