<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>{{htl.name}} Bookings</h2>
    <table border="1">
        <tr>
            <th>Guest_name</th>
            <th>Check_in_date</th>
        </tr>
        {% for i in values %}
        <tr>
            <td>{{i.guest_name}}</td>
            <td>{{i.check_in_date}}</td>
            <td><a href="{% url 'update_bkng' i.id %}">Update</a></td>
            <td><a href="{% url 'delete_bkng' i.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>