<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>products list</h1>
    {% for x in items %}
    <ul>
    <li>
    {{x.name}}<br>
    price:${{x.price}}<br>
    {% if x.available == 'instock'%}
    <span style="color:green;">{{x.available}}</span>
    {% else %}
    <span style="color:red;">{{x.available}}</span>
    {% endif %}
</li>
</ul>

    {% endfor %}
</body>
</html>