{% extends 'base1.html' %}
{% block title %}PRODUCT{% endblock %}
{% block content %}

  <style>
    .product-list {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      text-align: center;
    }


    .product-list ul {
      list-style-type: none;
      padding: 0;
    }

    .product-list ul li {
      font-size: 20px;
      margin: 10px 0;
      color: rgb(42, 100, 223);
    }
  </style>

  <div class="product-list">
    <ul>
        <li>tea</li>
        <li>ndfdk</li>
        <li>345</li>
    </ul>
  </div>
{% endblock %}