<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Publisher details</h1>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Email</th>
        </tr>
        {% for x in publisher %}
        <tr>
            <td>{{x.name}}</td>
            <td>{{x.address}}</td>
            <td>{{x.email}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>